In [2]:
"""
날짜 : 2023/01/13
이름 : 길은섭
내용 : 파이썬 데이터베이스 프로그래밍 실습

 - 터미널에서 pymysql 패키지 설치
"""
import pymysql

In [4]:
# Insert 실습

# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234',
                        db='java1db', 
                        charset='utf8')

# SQL 실행
cur = conn.cursor() # cur = 스테이먼트, 프리레어 스테이먼트와 같음

# SQL 실행
sql = "insert into `user1` values ('p101', '1234', '파이썬', '010-1234-1001', 27)"
cur.execute(sql)

# 데이터베이스 종료
conn.commit() # 트랜젝션으로 처리하기 때문에 마지막에 커밋 처리
print('Insert 완료...')

Insert 완료...

In [3]:
# Update 실습

# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234',
                        db='java1db', 
                        charset='utf8')

# SQL 실행
cur = conn.cursor() # cur = 스테이먼트, 프리레어 스테이먼트와 같음

# SQL 실행
sql = "update `user1` set "
sql += "`name` = '메이',"
sql += "`hp` = '010-1234-1002',"
sql += "`age` = 33 "
sql += "where `uid` = 'A101';"
cur.execute(sql)

# 데이터베이스 종료
conn.commit() # 트랜젝션으로 처리하기 때문에 마지막에 커밋 처리
print('Update 완료...')

Update 완료...

In [13]:
# Delete 실습

# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234',
                        db='java1db', 
                        charset='utf8')

# SQL 실행
cur = conn.cursor() # cur = 스테이먼트, 프리레어 스테이먼트와 같음

# SQL 실행
sql = "delete from `user1` where `uid` = 'p101' "
cur.execute(sql)

# 데이터베이스 종료
conn.commit() # 트랜젝션으로 처리하기 때문에 마지막에 커밋 처리
print('Delete 완료...')

Delete 완료...

In [19]:
# Select 실습
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234',
                        db='java1db', 
                        charset='utf8')

# SQL 실행
cur = conn.cursor()

sql = "select * from `user1`"
cur.execute(sql)
conn.commit()

# 데이터 출력 - 반복변수 row로 출력되게 함
for row in cur.fetchall():
    print('----------------------')
    print('아이디 :', row[0])
    print('비밀번호 :', row[1])
    print('이름:', row[2])
    print('휴대폰 :', row[3])
    print('나이 :', row[4])
print('----------------------')

conn.close()
print('Select 완료...')

----------------------
아이디 : A101
비밀번호 : 1234
이름: 메이
휴대폰 : 010-1234-1002
나이 : 33
----------------------
아이디 : B201
비밀번호 : 1234
이름: 아나
휴대폰 : 010-1234-1002
나이 : 22
----------------------
아이디 : C301
비밀번호 : 1234
이름: 디바
휴대폰 : 010-1234-1003
나이 : 33
----------------------
아이디 : D401
비밀번호 : 1234
이름: 윈스턴
휴대폰 : 010-1234-1004
나이 : 44
----------------------
아이디 : E501
비밀번호 : 1234
이름: 겐지
휴대폰 : 010-1234-1005
나이 : 55
----------------------
아이디 : T101
비밀번호 : 1234
이름: 테 이블
휴대폰 : 25-456-78979
나이 : 99
----------------------
아이디 : S101
비밀번호 : 1234
이름: 스 프링
휴대폰 : 010-5555-8888
나이 : 66
----------------------
Select 완료...